SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV3dnd1bGhreHR6YWJ5a2VsdmFtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUzMDU2NTQsImV4cCI6MjA5MDg4MTY1NH0.Dp38Ba7YH7icnaPlnnvcGNuwMBrDL4l_Lx0veKuQYwk
BACKEND_BASE_URL = https://clavis.andoverdigital.com
SENTRY_DSN = https://4c740df5795fc26378f2b39af050118b@o4511569233838080.ingest.us.sentry.io/4511569247797248
